USE [master]
GO
/****** Object:  Database [THTrueMilkDataBase]    Script Date: 18/05/2024 11:36:21 CH ******/
CREATE DATABASE [THTrueMilkDataBase] ON  PRIMARY 
( NAME = N'THTrueMilkDataBase', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\THTrueMilkDataBase.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'THTrueMilkDataBase_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\THTrueMilkDataBase_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [THTrueMilkDataBase].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [THTrueMilkDataBase]
GO
/****** Object:  Table [dbo].[carts]    Script Date: 18/05/2024 11:36:21 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[carts](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[product_id] [int] NULL,
	[user_id] [int] NULL,
	[price] [decimal](18, 0) NULL,
	[quantity] [int] NULL,
	[size] [int] NULL,
 CONSTRAINT [PK_carts] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[categories]    Script Date: 18/05/2024 11:36:21 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[categories](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](250) NULL,
	[slug] [varchar](200) NULL,
	[status] [int] NULL,
	[created_at] [datetime2](7) NOT NULL,
	[updated_at] [datetime2](7) NULL,
	[icon] [varchar](max) NULL,
	[isdetele] [int] NULL,
 CONSTRAINT [PK_categories] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[contacts]    Script Date: 18/05/2024 11:36:21 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[contacts](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[full_name] [nvarchar](250) NULL,
	[phone_number] [varchar](11) NULL,
	[note] [nvarchar](500) NULL,
	[status] [int] NULL,
	[created_at] [datetime2](7) NULL,
 CONSTRAINT [PK_contacts] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[images]    Script Date: 18/05/2024 11:36:21 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[images](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [varchar](200) NULL,
	[alt] [nvarchar](400) NULL,
	[status] [int] NULL,
 CONSTRAINT [PK_images] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[order_details]    Script Date: 18/05/2024 11:36:21 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[order_details](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[order_id] [int] NULL,
	[product_id] [int] NULL,
	[price] [decimal](18, 0) NULL,
	[quantity] [int] NULL,
 CONSTRAINT [PK_order_details] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[orders]    Script Date: 18/05/2024 11:36:21 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[orders](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[code] [nvarchar](250) NULL,
	[user_id] [int] NULL,
	[note] [nvarchar](500) NULL,
	[full_name] [nvarchar](150) NULL,
	[phone_number] [varchar](150) NULL,
	[review] [int] NULL,
	[payment] [int] NOT NULL,
	[status] [int] NULL,
	[total] [int] NULL,
	[fee_ship] [int] NULL,
	[created_at] [datetime2](7) NULL,
 CONSTRAINT [PK_orders] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[posts]    Script Date: 18/05/2024 11:36:21 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[posts](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[title] [nvarchar](250) NULL,
	[slug] [varchar](500) NULL,
	[avatar] [varchar](200) NULL,
	[content] [nvarchar](max) NULL,
	[short_content] [nvarchar](500) NULL,
	[created_at] [datetime2](7) NULL,
	[updated_at] [datetime2](7) NULL,
	[status] [int] NULL,
	[author] [int] NULL,
 CONSTRAINT [PK_posts] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[product_images]    Script Date: 18/05/2024 11:36:21 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[product_images](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[product_id] [int] NULL,
	[image_id] [int] NULL,
 CONSTRAINT [PK_product_images] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[products]    Script Date: 18/05/2024 11:36:21 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[products](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](250) NULL,
	[category_id] [int] NULL,
	[price_sell] [decimal](18, 0) NULL,
	[description] [nvarchar](max) NULL,
	[status] [int] NULL,
	[price_reduced] [decimal](18, 0) NULL,
	[horizontal] [int] NULL,
	[trademark] [nvarchar](500) NULL,
	[price_import] [decimal](18, 0) NULL,
	[trademarkId] [int] NULL,
	[ishidden] [int] NULL,
	[sizes] [varchar](max) NULL,
	[images] [varchar](max) NULL,
	[number_import] [int] NULL,
	[cover_type] [int] NULL,
	[shortdescription] [nvarchar](max) NULL,
 CONSTRAINT [PK_products] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[reviews]    Script Date: 18/05/2024 11:36:21 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[reviews](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[order_id] [int] NULL,
	[product_id] [int] NULL,
	[created_at] [datetime2](7) NULL,
	[comment] [nvarchar](max) NULL,
	[status] [int] NULL,
	[star] [int] NULL,
 CONSTRAINT [PK_reviews] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[users]    Script Date: 18/05/2024 11:36:21 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[users](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[full_name] [nvarchar](250) NULL,
	[phone_number] [varchar](11) NULL,
	[email] [varchar](50) NULL,
	[avatar] [varchar](500) NULL,
	[code] [varchar](10) NULL,
	[address] [nvarchar](max) NULL,
	[role] [int] NULL,
	[password] [varchar](32) NULL,
	[status] [int] NULL,
	[register_date] [datetime2](7) NULL,
 CONSTRAINT [PK_users] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[carts] ON 

INSERT [dbo].[carts] ([id], [product_id], [user_id], [price], [quantity], [size]) VALUES (8018, 18, 2008, CAST(436909 AS Decimal(18, 0)), 1, NULL)
INSERT [dbo].[carts] ([id], [product_id], [user_id], [price], [quantity], [size]) VALUES (8022, 18, 8, CAST(436909 AS Decimal(18, 0)), 1, NULL)
SET IDENTITY_INSERT [dbo].[carts] OFF
GO
SET IDENTITY_INSERT [dbo].[categories] ON 

INSERT [dbo].[categories] ([id], [name], [slug], [status], [created_at], [updated_at], [icon], [isdetele]) VALUES (4, N'Sữa Công Thức', N's?a công th?c', 0, CAST(N'2024-04-20T22:47:33.5656411' AS DateTime2), CAST(N'2024-04-20T22:48:31.9556204' AS DateTime2), NULL, NULL)
INSERT [dbo].[categories] ([id], [name], [slug], [status], [created_at], [updated_at], [icon], [isdetele]) VALUES (5, N'Sữa Tươi Thanh Trùng', NULL, 0, CAST(N'2024-04-20T22:47:47.6908043' AS DateTime2), NULL, NULL, NULL)
INSERT [dbo].[categories] ([id], [name], [slug], [status], [created_at], [updated_at], [icon], [isdetele]) VALUES (6, N'Sữa Tươi Tiệt Trùng', NULL, 0, CAST(N'2024-04-20T22:48:45.4701251' AS DateTime2), NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[categories] OFF
GO
SET IDENTITY_INSERT [dbo].[contacts] ON 

INSERT [dbo].[contacts] ([id], [full_name], [phone_number], [note], [status], [created_at]) VALUES (1, N'Lê xuân hải', N'0345801987', N'sữa không có đường', 0, CAST(N'2024-04-24T14:03:10.9247270' AS DateTime2))
INSERT [dbo].[contacts] ([id], [full_name], [phone_number], [note], [status], [created_at]) VALUES (2, N'Nguyễn văn Mạnh', N'0345819871', N'sữa không có đường', 1, CAST(N'2024-04-26T21:38:02.7469363' AS DateTime2))
INSERT [dbo].[contacts] ([id], [full_name], [phone_number], [note], [status], [created_at]) VALUES (3, N'Nguyễn Thị Phương Thảo', N'0987892654', N'Không xem được chi tiết sản phẩm', 2, CAST(N'2024-05-10T10:15:29.5442758' AS DateTime2))
SET IDENTITY_INSERT [dbo].[contacts] OFF
GO
SET IDENTITY_INSERT [dbo].[images] ON 

INSERT [dbo].[images] ([id], [name], [alt], [status]) VALUES (3, N'1.jpg', NULL, NULL)
INSERT [dbo].[images] ([id], [name], [alt], [status]) VALUES (4, N'2.jpg', NULL, NULL)
INSERT [dbo].[images] ([id], [name], [alt], [status]) VALUES (5, N'3.jpg', NULL, NULL)
SET IDENTITY_INSERT [dbo].[images] OFF
GO
SET IDENTITY_INSERT [dbo].[order_details] ON 

INSERT [dbo].[order_details] ([id], [order_id], [product_id], [price], [quantity]) VALUES (1, 1, 18, CAST(436909 AS Decimal(18, 0)), 3)
INSERT [dbo].[order_details] ([id], [order_id], [product_id], [price], [quantity]) VALUES (2, 2, 17, CAST(461455 AS Decimal(18, 0)), 2)
INSERT [dbo].[order_details] ([id], [order_id], [product_id], [price], [quantity]) VALUES (3, 3, 17, CAST(461455 AS Decimal(18, 0)), 1)
SET IDENTITY_INSERT [dbo].[order_details] OFF
GO
SET IDENTITY_INSERT [dbo].[orders] ON 

INSERT [dbo].[orders] ([id], [code], [user_id], [note], [full_name], [phone_number], [review], [payment], [status], [total], [fee_ship], [created_at]) VALUES (1, N'MDH00135', 1, NULL, N'fafs345454', N'0348019816', NULL, 0, 1, 1310727, NULL, CAST(N'2024-01-22T13:54:35.1777005' AS DateTime2))
INSERT [dbo].[orders] ([id], [code], [user_id], [note], [full_name], [phone_number], [review], [payment], [status], [total], [fee_ship], [created_at]) VALUES (2, N'MDH0013', 1, NULL, N'Lê Xuân Hải', N'0345801985', NULL, 0, 1, 922910, NULL, CAST(N'2024-01-22T14:30:03.6798677' AS DateTime2))
INSERT [dbo].[orders] ([id], [code], [user_id], [note], [full_name], [phone_number], [review], [payment], [status], [total], [fee_ship], [created_at]) VALUES (3, N'MDH00133', 1, NULL, N'Lê Xuân Hải', N'0345801984', NULL, 0, 2, 461455, NULL, CAST(N'2024-01-22T14:32:33.6294878' AS DateTime2))
SET IDENTITY_INSERT [dbo].[orders] OFF
GO
SET IDENTITY_INSERT [dbo].[posts] ON 

SET IDENTITY_INSERT [dbo].[posts] OFF
GO
SET IDENTITY_INSERT [dbo].[product_images] ON 

INSERT [dbo].[product_images] ([id], [product_id], [image_id]) VALUES (16, 14, 16)
INSERT [dbo].[product_images] ([id], [product_id], [image_id]) VALUES (18, 16, 18)
INSERT [dbo].[product_images] ([id], [product_id], [image_id]) VALUES (19, 17, 19)
SET IDENTITY_INSERT [dbo].[product_images] OFF
GO
SET IDENTITY_INSERT [dbo].[products] ON 

SET IDENTITY_INSERT [dbo].[products] OFF
GO
SET IDENTITY_INSERT [dbo].[users] ON 

INSERT [dbo].[users] ([id], [full_name], [phone_number], [email], [avatar], [code], [address], [role], [password], [status], [register_date]) VALUES (1, N'Lê Xuân Hải', N'0345801985', N'lexuanhai@gmail.com', NULL, NULL, NULL, 1, N'12345678', NULL, NULL)
INSERT [dbo].[users] ([id], [full_name], [phone_number], [email], [avatar], [code], [address], [role], [password], [status], [register_date]) VALUES (2, N'Người quản trị', N'0982669576', N'admin@gmail.com', NULL, NULL, N'Trực Ninh Nam Định', 0, N'123456780', 0, NULL)
INSERT [dbo].[users] ([id], [full_name], [phone_number], [email], [avatar], [code], [address], [role], [password], [status], [register_date]) VALUES (3, N'Nguyễn Văn Hưng', N'0345801982', N'nguyenvanhung@gmail.com', N'high-heels.png', N'', N'thanh xuân hà nội', 1, N'1234567890', 0, CAST(N'2023-01-08T23:12:38.7417512' AS DateTime2))
SET IDENTITY_INSERT [dbo].[users] OFF
GO
/****** Object:  Index [IX_carts_product_id]    Script Date: 18/05/2024 11:36:21 CH ******/
CREATE NONCLUSTERED INDEX [IX_carts_product_id] ON [dbo].[carts]
(
	[product_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_order_details_order_id]    Script Date: 18/05/2024 11:36:21 CH ******/
CREATE NONCLUSTERED INDEX [IX_order_details_order_id] ON [dbo].[order_details]
(
	[order_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_order_details_product_id]    Script Date: 18/05/2024 11:36:21 CH ******/
CREATE NONCLUSTERED INDEX [IX_order_details_product_id] ON [dbo].[order_details]
(
	[product_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_orders_user_id]    Script Date: 18/05/2024 11:36:21 CH ******/
CREATE NONCLUSTERED INDEX [IX_orders_user_id] ON [dbo].[orders]
(
	[user_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_product_images_image_id]    Script Date: 18/05/2024 11:36:21 CH ******/
CREATE NONCLUSTERED INDEX [IX_product_images_image_id] ON [dbo].[product_images]
(
	[image_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_product_images_product_id]    Script Date: 18/05/2024 11:36:21 CH ******/
CREATE NONCLUSTERED INDEX [IX_product_images_product_id] ON [dbo].[product_images]
(
	[product_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_products_category_id]    Script Date: 18/05/2024 11:36:21 CH ******/
CREATE NONCLUSTERED INDEX [IX_products_category_id] ON [dbo].[products]
(
	[category_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_reviews_order_id]    Script Date: 18/05/2024 11:36:21 CH ******/
CREATE NONCLUSTERED INDEX [IX_reviews_order_id] ON [dbo].[reviews]
(
	[order_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_reviews_product_id]    Script Date: 18/05/2024 11:36:21 CH ******/
CREATE NONCLUSTERED INDEX [IX_reviews_product_id] ON [dbo].[reviews]
(
	[product_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[carts]  WITH CHECK ADD  CONSTRAINT [FK_carts_products_product_id] FOREIGN KEY([product_id])
REFERENCES [dbo].[products] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[carts] CHECK CONSTRAINT [FK_carts_products_product_id]
GO
ALTER TABLE [dbo].[order_details]  WITH CHECK ADD  CONSTRAINT [FK_order_details_orders_order_id] FOREIGN KEY([order_id])
REFERENCES [dbo].[orders] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[order_details] CHECK CONSTRAINT [FK_order_details_orders_order_id]
GO
ALTER TABLE [dbo].[order_details]  WITH CHECK ADD  CONSTRAINT [FK_order_details_products_product_id] FOREIGN KEY([product_id])
REFERENCES [dbo].[products] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[order_details] CHECK CONSTRAINT [FK_order_details_products_product_id]
GO
ALTER TABLE [dbo].[orders]  WITH CHECK ADD  CONSTRAINT [FK_orders_users_user_id] FOREIGN KEY([user_id])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[orders] CHECK CONSTRAINT [FK_orders_users_user_id]
GO
ALTER TABLE [dbo].[product_images]  WITH CHECK ADD  CONSTRAINT [FK_product_images_images_image_id] FOREIGN KEY([image_id])
REFERENCES [dbo].[images] ([id])
GO
ALTER TABLE [dbo].[product_images] CHECK CONSTRAINT [FK_product_images_images_image_id]
GO
ALTER TABLE [dbo].[product_images]  WITH CHECK ADD  CONSTRAINT [FK_product_images_products_product_id] FOREIGN KEY([product_id])
REFERENCES [dbo].[products] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[product_images] CHECK CONSTRAINT [FK_product_images_products_product_id]
GO
ALTER TABLE [dbo].[products]  WITH CHECK ADD  CONSTRAINT [FK_products_categories_category_id] FOREIGN KEY([category_id])
REFERENCES [dbo].[categories] ([id])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[products] CHECK CONSTRAINT [FK_products_categories_category_id]
GO
ALTER TABLE [dbo].[reviews]  WITH CHECK ADD  CONSTRAINT [FK_reviews_orders_order_id] FOREIGN KEY([order_id])
REFERENCES [dbo].[orders] ([id])
GO
ALTER TABLE [dbo].[reviews] CHECK CONSTRAINT [FK_reviews_orders_order_id]
GO
ALTER TABLE [dbo].[reviews]  WITH CHECK ADD  CONSTRAINT [FK_reviews_products_product_id] FOREIGN KEY([product_id])
REFERENCES [dbo].[products] ([id])
GO
ALTER TABLE [dbo].[reviews] CHECK CONSTRAINT [FK_reviews_products_product_id]
GO
USE [master]
GO
